* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.tool {
  background: rgb(120, 199, 248);
  display: flex;
  align-items: center;
}

.tool > * {
  height: 40px;
  width: 40px;
  background: white;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#save {
  margin-left: auto;
}

canvas {
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
}

#canvasWrap {
  display: flex;
  justify-content: center;
}
